@keyframes colorShow {
    0% {background-color: aqua; left: 0;}
    10% {background-color: green;}
    20% {background-color: greenyellow;}
    35% {background-color: yellow;}
    40% {background-color: purple; left: 250px;}
    50% {background-color: yellow }
    65% {background-color: greenyellow;}
    70% {background-color: green;}
    85% {background-color: red;}
    100% {background-color: purple;left: 0;}
}

div#rainbow {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    animation-name: colorShow;
    animation-duration: 10s;
}

/*
    animation-name: BEstimmt welche Animation gespielt wird
    animation-fill-mode: bestimmt wie sich das ELement nach der Animation verhält
    animation-iteration-count: bestimmt wie oft die Animation gespielt wird, Zahl oder infinite
    für dauerhafte animation
    animation-timing-function: Bestimmt wie die Geschwindigkeit der Animation sich verhält, SUper
    Editor in den Dev-Tools des Browsers
    animation-duration: Bestimmt wie lange die Animation gehen soll
*/